.postin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.loginuser {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.messagebox {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.messagebutton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.messagebutton:hover {
    background-color: #45a049;
}

.buttonlo {
    background-color: #008CBA;
    color: white;
    padding: 10px 24px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonlo:hover {
    background-color: #007B9E;
}


.postin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.loginuser {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contentcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.searchBar {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.edit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit:hover {
    background-color: #45a049;
}

form div {
    margin-bottom: 1rem;
}

form button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.nav {
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.nav:hover {
    color: blue;
}

.active {
    border-bottom: 2px solid blue;
}

.logout {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
}

.logout:hover {
    background-color: #e60000;
}

.linklog {
    color: blue;
    text-decoration: none;
}

.linklog:hover {
    text-decoration: underline;
}

h1